<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MINAMAX - Paris Sportifs{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'minamax/style.css' %}">
</head>

<body>

    <header>
        <a href="{% url 'minamax:index' %}">
            <img src="{% static 'minamax/logo.svg' %}" alt="Logo_MINAMAX">
        </a>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>Bonjour, {{ user.username }} ({{ user.points }} points)</li>
                <li><a href="{% url 'minamax:profile' %}">Profil</a></li>
                {% else %}
                <li><a href="{% url 'minamax:login' %}">Se Connecter</a></li>
                <li><a href="{% url 'minamax:signup' %}">Créer un Compte</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 MINAMAX - Tous droits réservés.</p>
    </footer>

</body>

</html>